

#tete{
    background-color:#FF69B4;
    text-align: center;
}
h1{
    font-weight: bold;
}
h2{
    text-align: center;
    font-weight: bold;
}

table, td, th {
    border: 2px solid;
    padding: 1% 0% 1% 2%;

  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
  }
  .photo{
      width: 70%;
      margin-left:15% ;
  }
  #buttonretour{
      margin: 20%;
      width: 70px;
      height: 40px;
      border-radius: 10px;
      color: black;
      border: 2px solid blue;
      background-color: white;
  }
  button{
    background-color: rgb(73, 228, 11);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    
  }